# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# PyTorch
*.pt
*.pth
checkpoints/
logs/
tensorboard/

# Godot
.godot/
*.import
export_presets.cfg

# Secrets
.env
*.env
bots/*_token.json
bots/gcloud_token.json

# OS
.DS_Store

# Temp
*.bak
*.log
